// Colors
$blue: #1890ff;
$dark-blue: #364051;
$dark-grey: #333;
$grey: #666;
$off-white: #f7f7f7;
$white: #fff;
$red: #f44336;
$light-red: #ee9090;
$green: #90ee90;
$light-orange: #ffc069;
$space-black: #141414;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
